@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  font-family: "Press Start 2P", cursive;
}

body {
  margin: 0;
  display: flex;
  padding: 0;
}

.root-frame {
  display: flex;
  min-height: 100vh;
  height: fit-content;
  min-width: 100vw;
  width: fit-content;
  flex-direction: column;
  background-color: #dadbbd;
}

.btn {
  background-color: transparent;
  border-radius: 0;
  border: 1px solid black;
}

.btn:hover {
  color: #151d3b;
}

input:focus {
  outline: none;
}

input {
  outline: none;
  border-radius: 0;
  border: 1px solid black;
}
