.page-lobby {
  margin-top: 10px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.create-and-join-btn {
  border: 0px;
  color:white;
}

.create-and-join-btn:hover {
  color: #6EBF8B;
}

.board {
  flex-direction: column;
  align-items: center;
}

.line-up-frame {
  flex-direction: column;
  align-items: center;
  min-width: 70%;
}

.line-up-room-id{
  color : #6EBF8B;
  opacity: 0.8;
  text-align: center;
}
.roll-call-frame{
    flex-direction: column;
    align-items: center;
}

.list-line-up{
  margin-top: 12px;
  justify-content: space-evenly;
  width: 100%;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

.roll-call-team-no-1{
  margin-bottom: 4px;
  color: #6ac2d9;
}

.roll-call-team-1 {
  padding-left: 5px;
  padding-right: 5px;
  border-left: solid 2px #6ac2d9;
}


.roll-call-team-no-2 {
  margin-bottom: 4px;
  color: #FB7299;
}


.roll-call-team-2 {

  padding-left: 5px;padding-right: 5px;
  border-left: solid 2px #FB7299;
}

.line-up-creator{

  margin-bottom: 12px;
}


.line-up-btn{
  margin-bottom: 3px;
  border: 0;
  color: white;
}


.line-up-btn-in:hover {
  color: #6EBF8B;
}

.line-up-btn-out:hover {
  color: #D82148;
}
.line-up-btn-mid:hover{

  color: #EC6A37;
}

.desc-room-creation-form{
  position: absolute;
      top: 50%;
      left: 50%;
      padding: 5px;
      border-radius: 3px;
      transform: translate(-50%, -50%);
}

.desc-room-creation-form{
  color: transparent;
}
.invert-swiss-error{
  background-color: white;
  color: #D82148;
}

.swiss-error{
  color: white;
  background-color: #D82148;
}

.joinable-rooms{
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  flex-direction: column;
}

.door-element-user{
  white-space: nowrap;
}

.door-element-heading{
 font-size: 1.125rem;
  width: 100%;
  color: #6EBF8B;
  white-space: normal;
}
.door-element-rid {
  text-align: right;
  margin-left: auto;
  width: fit-content;
}

.door-element-content-wrap{


  width: 100%;

}
.door-element-content {
  font-size: 0.875rem;

}


.door-frame{
width: 100%;
max-width: 80%;
  flex-direction: column;
  border-bottom: 4px dashed white;
  border-top: 4px solid transparent;
  border-radius: 3px;

  padding: 8px 10px 8px 10px;
  
}

.door-frame:hover {
  border: 4px dashed #6EBF8B;
}